* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 245, 245);

    font-family: 'Big Shoulders Display',
        cursive;
    font-size: 15px;


}

.container {
    width: 50%;
    padding: 40px;
    display: grid;
    grid-template-areas: 
    'a a a a a a a a b b b'
    'a a a a a a a a b b b'
    'a a a a a a a a b b b'
    'c c c c d d d d d d d'
    'c c c c d d d d d d d'
    'c c c c e e e e e e e'
    'c c c c e e e e e e e'
    'c c c c e e e e e e e'
    ;
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    gap: 10px;
    color: transparent;
    

}

.a{
    grid-area: a;
    padding: 100px;
    background-color: orangered;
}
.b {
    grid-area: b;
    padding: 100px;
    background-color: orange;
}
.c {
    grid-area: c;
    padding: 100px;
    background-color: rgb(7, 184, 7);
}
.d {
    grid-area: d;
    padding: 30px;
    background-color: rgb(18, 156, 156);
}
.e{
    grid-area: e;
    padding: 30px;
    background-color: rgb(18, 156, 156);

}